.logIn {
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 0px 10px 50px #555;
    background: rgba(19, 18, 18, 0.75);
}

.wrapper-login {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/Signup_bg.jpg);
    background-size: cover;
    background-position: center;
}

.to-signup p {
    display: inline;
    color: #ffffff;
}

.to-signup {
    margin: auto;
}

.col {
    margin-bottom: 30px;

}
h2 {
    text-align: center;
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}


.error {
    padding: 10px;
    /* border: 1px solid transparent; */
    border-radius: 4px;
    color: #a94442;
    background-color: #110f0f38;
    /* border-color: #111010; */
    margin-bottom: 10px;
    margin: auto;
}

.input-group-text {
    border-radius: 0em;
}

.form-control {
    border-radius: 0;
}
